<header id="header" class="header1 gradient-bg">
    <!-- **Header Container** -->
    <div class="container">
        <!-- **Logo - start** -->
        <div id="logo">
            <a href="#" title="spa lab">
                <img class="normal_logo" src="assets/images/logo.png" alt="spa lab" title="Simraon lab">
                <!--img class="retina_logo" src="assets/images/logo@2x.png" alt="spa lab" title="spa lab" style="width:156px height:73px"-->
            </a>
        </div>
        <!-- **Logo - End** -->
        <!-- **Navigation** -->
        <div id="primary-menu">
            <nav id="main-menu">
                <div class="dt-menu-toggle" id="dt-menu-toggle">
                    Menu <span class="dt-menu-toggle-icon"></span>
                </div>
                <ul id="menu-main-menu" class="menu rounded">
                    <li id="menu-item-3967" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-depth-0 menu-item-simple-parent ">
                        <a href="#"><i class="menu-icon fa fa-home"></i>Home
                  	<span class="menu-item-description">Welcome</span>
                  </a>
                        <a class="dt-menu-expand">+</a>
                    </li>
                    <li id="menu-item-4160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 menu-item-simple-parent ">
                        <a href="#header/"><i class="menu-icon fa fa-plane"></i>Headers<span class="menu-item-description">Our Styles</span></a>
                        <a class="dt-menu-expand">+</a>
                    </li>
                    <li id="menu-item-4693" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-depth-0 menu-item-simple-parent ">
                        <a href="#pages/about-us/"><i class="menu-icon fa fa-paste"></i>Pages<span class="menu-item-description">We have</span></a>
                        <a class="dt-menu-expand">+</a>
                    </li>
                    <li id="menu-item-4690" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-0 menu-item-megamenu-parent  megamenu-3-columns-group">
                        <a href="#blog"><i class="menu-icon fa fa-book"></i>Blog<span class="menu-item-description">What’s up</span></a>
                        <div class="megamenu-child-container" style="left: -198.125px; opacity: 1; display: none;">
                            <a class="dt-menu-expand">+</a>
                        </div>
                        <a class="dt-menu-expand">+</a>
                    </li>
                    <li id="menu-item-6086" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 menu-item-megamenu-parent  megamenu-4-columns-group">
                        <a href="#three-columns-gallery/"><i class="menu-icon fa fa-th"></i>Gallery<span class="menu-item-description">Best Visuals</span></a>
                        <div class="megamenu-child-container" style="left: -539.531px; opacity: 1; display: none;">
                            <a class="dt-menu-expand">+</a>
                        </div>
                        <a class="dt-menu-expand">+</a>
                    </li>
                    <li id="menu-item-4606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 menu-item-simple-parent "><a href="#"><i class="menu-icon fa fa-clock-o"></i>Reservation<span class="menu-item-description">Why the Wait</span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-4009" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="#">Contact</a></li>
                            <li id="menu-item-4008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="#">Contact Layout-2</a></li>
                            <li id="menu-item-3992" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="#">Appointments</a></li>
                        </ul>
                        <a class="dt-menu-expand">+</a>
                    </li>
                    <li id="menu-item-4692" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-0 menu-item-megamenu-parent  megamenu-3-columns-group">
                        <a href="#shortcodes/"><i class="menu-icon fa fa-rocket"></i>Shortcodes<span class="menu-item-description">We Provide</span></a>
                        <div class="megamenu-child-container" style="left: -405.813px; opacity: 1; display: none;">
                            <a class="dt-menu-expand">+</a>
                        </div>
                        <a class="dt-menu-expand">+</a>
                    </li>
                </ul>
            </nav>
            <!-- **Navigation - End** -->
        </div>
    </div>
    <!-- **Header Container End** -->
</header>